*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.imprint-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
    padding: 5px;
   
}

.imprint-grid {
    width: 90vw;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
    "org org-content"
    "adress adress-content"
    "tel tel-content"
    "email email-content"
    "regnum regnum-content"
    "tax tax-content";
    column-gap: 5px;
    border: 10px solid red;
    font-size: 1rem;
  
}

