.intro-container{
    grid-area: intro-container;
    display: grid;
    justify-content: center;
    width: 100vw;
    margin: 0;
    
}

.hero-image {
    background-image: url("../images/hero_breast_2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 30vh;
    width: 100vw;
}