/*hero style, slide show style*/

/*Basic hero structure*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro-container {
    grid-area: intro-container;
    display: flex;   
    align-items: center;
    width: 100vw;
    margin: 0;
    
}

.hero-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 30vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*slide show*/

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    /*border: 10px solid red;*/
   
}












