.benefits {
    grid-area: benefits;
    padding: 0 0 var(--text-padding) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vw;
}

.benefits-list {
    list-style-type: none;
    
    line-height: 2rem;
    padding: var(--text-padding);
    text-align: justify;
}

.benefit-img {
    grid-area: benefit-img;
    justify-self: right;
}


.benefit-photo {
    max-height: 89vh;
    width: 130px;
    padding: var(--text-padding);
}

