.presentation {
    grid-area: presentation;
    line-height: 2rem;
    padding: var(--text-padding);    
    max-width: 100vw;
}

.presentation p {
    text-align: justify;
}

.presentation h3 {
    margin-top: 50px;
}

video {
    width: 100%;
}

.video {
    height: 35vh;
    width: 100vw;
}