*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Sticky positioning works if
    ** the sticky icon position: fixed
    **the icon container position: absolut
    **the icon container is in a container which position: fixed
*/

/*grid-container is the container of the sticky icon wrapper, it must be position: relative*/
.grid-container {
    position: relative;    
}


.top-arrow {
    position: sticky;
    top: 90vh;
    right: 10px;
    width: 50px;
    height: 50px;      
}


.back-to-top-wrapper {
    position: absolute;
    top: 100vh;
    right: 5px;
    bottom: 10px;
    width: 50px;
    pointer-events: all;
   
}

