

.gdpr-wrap, .cookie-wrap {
    grid-area: gdpr;
    padding: 0 var(--text-padding);
    text-align: center;
    background-color: var(--main-light-color);
    color: var(--main-dark-color);
    font-family: 'Rokkitt', serif;
    width: 100vw;
}

.gdpr-wrap h1 {
    color: var(--main-dark-color);
}

.short-text {
    text-align: center;
}

ol, ul, li, .gdpr-wrap .long-text {
    margin: 20px;
    padding: 0;
    text-align: justify;
}

li p {
    padding: 0;
}

.important {
    font-weight: bold;
}

.alert {
    font-weight: bold;
    color: red;
}

@media screen and (min-width: 1080px) {
    .gdpr-wrap {
        padding: calc(5*var(--text-padding)); 
    }
}

