
/*h1 {
    width: 100vw;
    text-align: center;
    padding: 20px;
}

h2 {
    padding: 30px 20px 10px 20px;
    font-weight: bold;
}*/

/*p {
    padding: 5px 20px;
    text-align: justify;
}
*/



.gdpr {
    grid-area: gdpr;
    padding: 0 var(--text-padding);
    text-align: justify;
}

.short-text {
    text-align: center;
}

ol, ul, li {
    margin: 20px;
    padding: 0;
    text-align: justify;
}

li p {
    padding: 0;
}

.important {
    font-weight: bold;
}

.alert {
    font-weight: bold;
    color: red;
}

@media screen and (min-width: 1080px) {
    .gdpr {
        padding: 0 calc(5*var(--text-padding)); 
    }
}

